.khung{
	margin: 0 auto;
	width: 85%;
	height: auto;
}
.khung .tuan{
	margin: 0;
	width: 100%;
	height: 100px;
	background: white;
}.menu .tlogo{
	float: left;
	width: 30%;
	height: 100%;
	
}
.menu .tmenu{
	float: right;
	width: 60%;
	height: 100%;
}
.tlogo h3{
	color: #ffa31a;
	font-size: 28px;
	padding-top: 10px;
	margin-left: 80px;
	text-transform: uppercase;
}
.tmenu ul{
	float: right;
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}
.tmenu li {
	float: left;
	width: 13%;
	height: 100%;
	margin-left: 5px;
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
}
.tmenu li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	margin-right: 5px;
}
.tmenu li a:hover{
	color: #ffa31a;
}
.tkhung {
	float: left;
	background: url(http://polyco.com.vn/res/2016/07/C%C6%A1-kh%C3%AD-ch%E1%BA%BF-t%E1%BA%A1o-m%C3%A1y.jpg);
	background-repeat: none;
	background-size: 100%;
	  opacity: 0.9;
   
	width: 100%;
	height: 450px;
}

.tkhung h3{
	display: block;
	width: 40%;
	height: 80px;
	line-height: 80px;
	font-size: 60px;
	color: white;
	text-transform: uppercase;
	text-align: left;
	padding-top: 5px;
	margin-left: 70px;	
}
.tkhung p{
	display: block;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-top: 70px;
	padding-top: 30px;
	width: 60%;
	height: 80px;
	margin-left: 70px;
}
.tkhung  a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;

	font-size: 16px;
	display: block;
	width: 150px;
	height: 40px;
	margin-left: 70px;
	border-radius: 10px;
	background: #ffa31a;;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;	
}
.tkhung a:hover{
	color: green;
	
}

.khung .viet{
	width: 100%;
	height: auto;
}


.viet1 .vietanh{
	float: left;
	width: 32%;
	height: 200px;	
	margin-bottom: 15px;
}
.viet1 .diff{
	margin-right: 2%;
	margin-left: 2%;
}
.viet1 .vietchu{
	float: left;
	width: 32%;
	height: auto;	
}
.viet1 .diss{
	margin-right: 2%;
	margin-left: 2%;
}
.vietchu h3{
	text-transform: uppercase;
	margin-top: 10px;
}
.vietchu p{
	font-size: 20px;
	margin-right: 20px;
	line-height: 20px;
}
.vietchu .vlink{
	width: 100px;
	height: 60px;
}
.vlink a{
	text-align: center;
	font-size: 15px;
	line-height: 40px;	
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
}
.vlink a:hover{
	color: red;
}

}
.khung .hien{

}
.khung .chi{
	width: 100%;
	height: 300px;
	/*background: pink;*/
	margin: 0 auto;
}
.chi .chi1 {
	float: left;
	width: 60%;
	height: 100%;
	/*background: grey;*/
}
.chi1 h2 {
	color: black;
	line-height: 20px;
	text-align: left;
	padding-left: 20px;
	text-transform: uppercase;
}
.chi1 p {
	color: grey;
	line-height: 20px;
	font-size: 16px;
	text-align: left;
	padding-left: 20px;
}
.chi1 ul {
	float: left;
	width: 50%;
	height: 150px;
}
.chi1 ul li a {
	color: grey;
	line-height: 23px;
	text-align: left;
	text-decoration: none;
	font-size: 18px;
}
.chi1 a:hover {
	color: red;
}
.chi .chi2 {
	float: right;
	width: 30%;
	height: 100%;
	/*background: red;*/
}
.chi2 img {
	width: 100%;
	height: 100%;
}
.khung .dang{
	width: 100%;
	height: auto;
	
}
.dang .box{
	float: left;
	width: 100%;
	height: 150px;
	background: white;
}
.box h1{
	text-transform: uppercase;
	text-align: center;
}
.box p{
	font-size: 25px;
	text-align:center;
}
.dang .boxlon{
	float: left;
	width: 100%;
	height: auto;
	background-image:url('http://haweshomehandyman.com/wp-content/uploads/2016/07/3.jpg');

}
.boxlon .k1{
	float: left;
	width: 25%;
	height: 350px;
	
}
.k1 .box1{
	float: left;
	width: 15%;
	height: 350px;
	
}
.k1 .box2{
	float: left;
	width: 70%;
	height: 350px;
	
}
.box2 .chu{
	width: 100%;
	height: 200px;
	
}
.chu .chu1{
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 10px solid white;
	margin-left: 40px;

}
.chu1 p{
	text-align:center;
	color: white;
	text-transform: uppercase;
	line-height: 100px;
	font-size: 30px;
}
.box2 .k{
	width: 100%;
	height: 150px;
	
}
.box1 p{
	font-size: 38px;
	margin-top: 60px;
	color: white
}
.k p{		
	margin: 0;
	text-align:center;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
}

.khung .quan{
	float: left;
	width: 100%;
	height: 400px;
	background: pink;
}
.quan .qimg{
	float: left;
	width: 48%;
	height: 100%;
	margin-right: 2%;
}
.quan .qchu{
	float: left;
	width: 50%;
	height: 100%;
}
.qimg img{
	width: 100%;
	height: 100%;
}
.qchu h2{
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	margin-top: 50px;
	margin-left: 50px;
}
.qchu h6{
	text-align: left;
	margin: 0;
	padding: 0;
	color: grey;
}
.qchu p.p1{
	margin: 0;
	margin-left: 50px;
	text-align: left;
	color: grey;
	font-size: 18px;
}
.qchu p.p2{
	padding: 50px;
	font-size: 18px;
	text-align: left;
	color: grey;
}
.qchu a{
	float: left;
	text-decoration: none;
	display: block;
	width: 30%;
	height: 50px;
	background: grey;
	color: white;
	text-align: center;
	margin: 0;
	border-radius: 5px;
	margin-left: 50px;
	margin-right: 10px;
	line-height: 50px;
}
.qchu a.trc{
	background: yellow;
}
.qchu a:hover{
	color: red;
	background: yellow;
}