.khung{
	width: 85%;
	height: auto;
}
.khung .tuan{

}
.khung .viet{

}
.khung .hien{

}
.khung .chi{

}
.khung .dang{

}
.khung .quan{
	width: 100%;
	height: 400px;
	background: pink;
}
.quan .qimg{
	float: left;
	width: 48%;
	height: 100%;
	margin-right: 2%;
}
.quan .qchu{
	float: left;
	width: 50%;
	height: 100%;
}
.qimg img{
	width: 100%;
	height: 100%;
}
.qchu h2{
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	margin-top: 50px;
	margin-left: 50px;
}
.qchu h6{
	text-align: left;
	margin: 0;
	padding: 0;
	color: grey;
}
.qchu p.p1{
	margin: 0;
	margin-left: 50px;
	text-align: left;
	color: grey;
	font-size: 18px;
}
.qchu p.p2{
	padding: 50px;
	font-size: 18px;
	text-align: left;
	color: grey;
}
.qchu a{
	float: left;
	text-decoration: none;
	display: block;
	width: 30%;
	height: 50px;
	background: grey;
	color: white;
	text-align: center;
	margin: 0;
	border-radius: 5px;
	margin-left: 50px;
	margin-right: 10px;
	line-height: 50px;
}
.qchu a.trc{
	background: yellow;
}
.qchu a:hover{
	color: red;
	background: yellow;
}